@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  background-size: cover;
  color: #3B3838;
  text-align: center;
  font-size: 1.4rem;
  font-family:  'Josefin Slab', serif, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 25px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 6rem;
  border-bottom: 5px solid #ffc000;
}

/* .heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #ffc000;
} */

.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 25px;
  background-color: #d7ac36;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  height: 50px;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #D29E04;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 100px 30px 80px;
}
.site-title-sub {
  margin: 0 0 80px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 2px;
  margin: 0 30px;
  background-color: #3b3838;
  vertical-align: middle;
}
.title-logo{
  height: 150px;
  width: 167px;
  margin: 0 0 30px;
}
.site-title {
  margin: 50px 0 15px 0;
  font-size: 7.6rem;
  letter-spacing: 4px;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 0 50px 0 50px;
}


/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 70px 30px;
  background-color: #44546a;
  color: #fff;
}
.about-wrapper{
  padding-top: 30px;
}
.about-text {
  margin: 15px 0;
  line-height: 2.5;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.about-logo{
  margin-top: 50px;
  height: 100px;
  width: 102px;
}

/* --------------------------------
 * works
 * -------------------------------- */
.works {
  padding: 80px 0;
  background-color: #44546a;
  color: #fff;
}
.works-wrapper {
  width: 80%;
  margin: 60px auto 0;
}

/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}
.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}
.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
.ideas-color{
  color: #0070c0;
}
.design-color{
  color: #70ad47;
}
.coding-color{
  color: #c00000;
}
.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
  font-weight: bold;
}
.skill-text {
  margin: 0 20px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 1px;
}

/* --------------------------------
 * team
 * -------------------------------- */
 .team{
  padding: 80px 0;
 }
 .team-wrapper{
   padding-top: 50px;
 }
 .team-box{
   display: inline-block;
   padding: 0 80px;
 }
 .name{
   font-size: 2rem;
 }
.member-img{
  width: 200px;
  height: 200px;
}
/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  padding: 80px 0 150px;
  background-color: #44546a;
  color: #fff;
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 5px solid #fff;
  border-radius: 15px;
  color: #3b3838;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
  
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: #ffc000;
  color: #3b3838;
  cursor: pointer;
  box-shadow: 0 7px #7f6000;
  outline: none;
}
.contact-form input[type=submit]:hover {
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.5rem;
  background-color: #fff;
}

/*---------------------------------
 * slider
 *---------------------------------*/
 .slider-container, .slider-nav-container {
  display: none;
  position: relative;
}
.slider-container.initialized, .slider-nav-container.initialized {
  display: block;
}
.slider-nav-container {
  margin-top: 18px;
}
.slider {
  overflow: hidden;
}
.slider-nav {
  margin: 0 26px;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  height: 36px;
  margin-top: -18px;  /* 高さの半分だけネガティブマージン */
  color: #aaa;
  line-height: 36px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;  /* 重要 */
}
.slider-prev {
  left: 0;
}
.slider-next {
  right: 0;
}
.slick-slide {
  outline: 0;
}
.slider .slick-slide > img, .slider-nav .slick-slide > img {
  display: block;
  width: 100%;
  height: auto;
}

@media(max-width: 768px){

/* --------------------------------
 * header
 * -------------------------------- */
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .header{
    padding-top: 60px;
  }
  .button:hover{
    opacity: 1;
  }
  
  /* --------------------------------
 * about
 * -------------------------------- */
 .heading{
   font-size: 3rem;
   margin-top: 0;
 }
 .about-text{
   font-size: 1.3rem;
   line-height: 1.8;
   text-align: left;
 }
 
/* --------------------------------
 * works
 * -------------------------------- */
 .works-wrapper{
   display: block;
   margin: 25px auto 0;
 }
 
/* --------------------------------
 * skills
 * -------------------------------- */
 .skills-wrapper,
 .skill-box{
   display: block;
 }
 .skill-icon{
   width: 100px;
   height: 100px;
   font-size: 5rem;
   line-height: 92px;
   margin-bottom: 10px;
 }
 .skill-box{
   margin: 40px auto;
 }
 .skill-text{
   margin:0;
 }
 .skill-title{
   margin-bottom: 10px;
 }
 
 /* --------------------------------
 * team
 * -------------------------------- */
 .team-wrapper,
 .team-box{
   display: block;
 }
 .member-img{
   width: 100px;
   height: 100px;
   margin-bottom: 10px;
 }
 .name{
   font-size: 2rem;
 }
 /* --------------------------------
 * contact
 * -------------------------------- */
 .contact-form{
   width: 80%;
   margin-top: 20px;
 }
 .contact{
   padding: 50px 0 50px 0;
 }
 
/* --------------------------------
 * heading margin fix
 * -------------------------------- */
 .about{
   padding: 50px 30px;
 }
 .skills{
   padding: 50px 0 10px 0;
 }
 .works{
   padding: 50px 0 50px 0;
 }
}










/*--------------------------------
.work-box {
  position: relative;
  display: table-cell;
}
.work-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}
.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  overflow-y: auto;
}
.work-description-inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}
.work-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.work-box.tree::after {
  background-image: url('../images/recotto.png');
}
.work-box.building::after {
  background-image: url('../images/placeholder.jpg');
}
.work-box.lake::after {
  background-image: url('../images/placeholder.jpg');
}
.work-box.sky::after {
  background-image: url('../images/placeholder.jpg');
}
.work-box:nth-child(odd) .work-image {
  margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after {
  top: 0;
}

table部分
---------------------------------------*/
